<div class="container">
    <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <div
                class="h-100 p-5 text-dark bg-light border rounded-3">
                <h2>{{apod.title}}</h2>
                <div class="container d-flex">
                    <img [src]="apod.url" alt="" class="img-fluid mx-auto">
                </div>
                <p>{{apod.explanation}}</p>
                <button class="btn btn-outline-primary" type="button">Example button</button>
            </div>
        </div>
    </div>
</div>