<div class="container">
    <div class="mb-3">
        <label for="" class="form-label">Hero Name</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="hero.name" (keyup)="handleChange()">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Hero Description</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="hero.description" (keyup)="handleChange()">
    </div>

    <button type="button" class="btn btn-primary" (click)="addHero()" >Add
        Hero</button>
</div>