<div class="container">
    <div class="mb-3">
        <label for="" class="form-label">Hero Name</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="hero.name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Hero Description</label>
        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder=""
            [(ngModel)]="hero.description">
    </div>

    <button type="button" class="btn btn-primary" (click)="addHero()" [disabled]="hero.name.length === 0">Add
        Hero</button>
</div>