<div class="buttons">
    <div class="operators">
      <div  (click)="handleClick('+')">+</div>
      <div  (click)="handleClick('-')">-</div>
      <div  (click)="handleClick('*')">&times;</div>
      <div  (click)="handleClick('/')">&divide;</div>
    </div>
    <div class="leftPanel">
      <div class="numbers">
        <div  (click)="handleClick(7)">7</div>
        <div  (click)="handleClick(8)">8</div>
        <div  (click)="handleClick(9)">9</div>
      </div>
      <div class="numbers">
        <div  (click)="handleClick(4)">4</div>
        <div  (click)="handleClick(5)">5</div>
        <div  (click)="handleClick(6)">6</div>
      </div>
      <div class="numbers">
        <div  (click)="handleClick(1)">1</div>
        <div  (click)="handleClick(2)">2</div>
        <div  (click)="handleClick(3)">3</div>
      </div>
      <div class="numbers">
        <div  (click)="handleClick(0)">0</div>
        <div  (click)="handleClick('')">.</div>
        <div id="clear"  (click)="handleClick('C')">C</div>
      </div>
    </div>
    <div class="equal" id="result"  (click)="handleClick('=')">=</div>
  </div>